<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification de Mémoire</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="memory-check-container">
        <h1 class="memory-check-title">Entrez la bonne adresse mémoire de retour</h1>
        <p>Indice : trouver le code C pour réaliser une attaque de type buffer overflow</p>
        <p>Attention, ce CTF en fonctionne que sur une architecture intel x86 avec un processeur 64 bits</p>
        <input type="text" class="memory-check-input" id="memory-input" placeholder="Entrez l'information ici..." />
        <button class="memory-check-button" onclick="verifyMemory()">Vérifier</button>
        <p class="memory-check-result" id="result"></p>
    </div>    
    <script src="/JS/script_cft3.js"></script> <!-- Référencez le fichier JavaScript ici -->
</body>
</html>